  <section class="container flex justify-center items-center px-10  h-full w-screen">
  <div class="right max-h-[90vh] w-[30%]  md:w-[30%] md:h-[95%] bg-slate-200 rounded-lg p-6 shadow-md ">
    <!-- filtering data by Search Bar -->
    <div class="mb-6">
      <input [(ngModel)]="searchText"
        class="form-control w-full p-3 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
        type="search" placeholder="Search for a property" aria-label="Search" />
    </div>
    <div class="property-filter mb-6">
      <label class="block text-sm font-medium text-gray-800 mb-3">Filter by Configuration</label>
      <div class="space-y-2">
        <div class="flex items-center" *ngFor="let option of bhkOptions">
          <input [(ngModel)]="option.checked" (change)="filterProperties('propertyDetails.configuration',this.bhkOptions)" type="checkbox"
            class="form-checkbox h-5 w-5 text-blue-600" />
          <span class="ml-2 text-gray-700">{{ option.label }}</span>
        </div>
      </div>
    </div>

    <!-- Filter by Type of Property -->
    <div class="property-filter mb-6">
      <label class="block text-sm font-medium text-gray-800 mb-3">Type of Property</label>
      <div class="space-y-2">
        <div class="flex items-center" *ngFor="let option of TypeofPropertysOptions">
          <input [(ngModel)]="option.checked" (change)="filterProperties('propertyDetails.type',this.TypeofPropertysOptions)"
            type="checkbox" class="form-checkbox h-5 w-5 text-blue-600" />
          <span class="ml-2 text-gray-700">{{ option.label }}</span>
        </div>
      </div>
    </div>

    <!-- Filter by Furnishing -->
    <div class="property-filter mb-6">
      <label class="block text-sm font-medium text-gray-800 mb-3">Furnishing</label>
      <div class="space-y-2">
        <div class="flex items-center" *ngFor="let option of furnishingOptions">
          <input [(ngModel)]="option.checked" (change)="filterProperties('propertyDetails.furnishing',this.furnishingOptions)"
            type="checkbox" class="form-checkbox h-5 w-5 text-blue-600" />
          <span class="ml-2 text-gray-700"> {{ option.label }}</span>
        </div>
      </div>
    </div>

    <!-- Filter by Parking -->
    <div class="property-filter mb-6">
      <label class="block text-sm font-medium text-gray-800 mb-3">Parking</label>
      <div class="space-y-2">
        <div class="flex items-center" *ngFor="let option of ParkingOptions">
          <input [(ngModel)]="option.checked" (change)="filterProperties('propertyDetails.parking', ParkingOptions)" type="checkbox"
            class="form-checkbox h-5 w-5 text-blue-600" />
          <span class="ml-2 text-gray-700">{{ option.label }}</span>
        </div>
      </div>
    </div>

  </div>

  <!-- Property Cards -->
  <div class="left w-[70%] h-[95%] px-20">

    <div>

      <app-property-cards
        *ngFor="let apartment of filteredProperties|filterCards:searchText|paginate : { itemsPerPage: pageSize, currentPage }; let i = index"
        [propertyCard]="apartment" [index]="i">
      </app-property-cards>
      <ng-container>
        <!-- Loader -->
        <div class="d-flex justify-content-center align-items-center" *ngIf="loader" style="height: 40vh;">
          <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        </div>

        <!-- No Data Found -->
        <div class="d-flex justify-content-center align-items-center text-center"
          *ngIf="!loader && filteredProperties.length === 0" style="height: 40vh;">
          <h1 class="text-muted">No Data Found</h1>
        </div>
      </ng-container>

    </div>
    <div class="border-top text-black font-bold d-md-flex justify-content-center align-items-center p-6 ">
      <pagination-controls (pageChange)="currentPage = $event"></pagination-controls>
    </div>
  </div>


</section>