<div class="card property-card mt-3">
    <!-- Card Header -->
    <div class="card-header d-flex align-items-center">
      <div>
        <h2 class="card-title">
          {{ propertyCard.propertyName || "Not Available" }}
        </h2>
        <p class="card-subtitle">
          {{ propertyCard.propertyLocation || "Not Available" }}
        </p>
      </div>
    </div>
  
    <!-- Card Content -->
    <div class="card-content d-flex">
      <!-- Image Carousel -->
      <div class="card-image">
        <app-image-carousel [data]="propertyCard.propertyImgGallery" [imageStyle]="carouselImageStyle"></app-image-carousel>
      </div>
  
      <!-- Property Info -->
      <div
        class="card-info"
        routerLink="/propertydetails/{{ propertyCard.id }}"
      >
        <div class="card-body">
          <p class="property-price">
            {{ propertyCard.propertyPrice +" "+ "Lakh" || "Not Available"  }}
          </p>
          <p class="property-area">
            {{ propertyCard.propertyArea || "Not Available" }}
          </p>
          <p class="property-amenities">
            {{ propertyCard.propertyAmenities || "Not Available" }}
          </p>
          <p class="contact-info">
            {{ propertyCard.contactpropertybox.phone || "Not Available" }}
          </p>
          <button
            class="btn btn-primary request-tour-btn"
            data-bs-toggle="modal"
            data-bs-target="#requestTour"
          >
            {{ propertyCard.contactpropertybox.btn2 || "Not Available" }}
          </button>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Request Tour Form -->
  <!-- <app-request-tourform></app-request-tourform> -->
  