<form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
  <label for="firstName">First Name:</label>
  <input id="firstName" formControlName="firstName">

  <label for="lastName">Last Name:</label>
  <input id="lastName" formControlName="lastName">

  <label for="contactNumber">Contact Number:</label>
  <input id="contactNumber" formControlName="contactNumber">

  <label for="email">Email:</label>
  <input id="email" formControlName="email" type="email">

  <label for="password">Password:</label>
  <input id="password" formControlName="password" type="password">

  <button type="submit">Sign Up</button>
</form>
<p>{{ message }}</p>