@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    background: #F8FAFC;
    /* D9EAFD
    BCCCDC
    9AA6B2 */
    color: black;
    overflow-y: scroll;
    overflow-x: hidden;
}
/* h1{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 500;
    font-style: normal;
    letter-spacing: 2px;
}
p{
    letter-spacing: 1px; 
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}
a{
    font-family: "PT Serif", serif;
    font-weight: 300;
    font-style: normal;
}
li{
    font-family: "Quattrocento Sans", sans-serif;
    font-weight: 200;
    font-style: normal;
} */