<main class="w-full h-full">
  <section id="page-1" class="" style="background-image: url('assets/images/pexels-pixabay-280221.jpg')">
    <div class="container">
      <h1  class="mb-4">Find your perfect place.</h1>
      <div class="center">
        <app-search></app-search>
      </div>
    </div>
  </section>
<div class="pb-5">
  <h1  class="mb-4">Explore Rentals in Chicago, IL</h1>
  <div class="cards-container">
    <app-card  *ngFor="let card of products" [product]="card"></app-card>
  </div>
  
</div>
  <h1>Renting Made Easy for Residents and Property Managers</h1>
  <p class="text-yellow-100 font-light text-center text-lg mb-3">
    Our articles, guides, and videos help you through the process, start to
    finish.
  </p>
  <app-featurette></app-featurette>
  <section class="flex justify-center">
    <div class="mt-5 px-5 w-[90vh] gap-9">
      <h1 class="mb-4">FAQ's</h1>
      <app-faqs class=""></app-faqs>
    </div>
  </section>
</main>