<app-swiper></app-swiper>

<section class="w-screen flex justify-center text-white pt-5 gap-2">
  <div class="left w-[90vh]">
    <h2 class="font-bold text-2xl">Presidential Towers</h2>
    <p class="font-medium text-sm pt-0.5">
      555 W Madison St, Chicago, IL 60661
    </p>
    <div class="container mx-auto border border-white mt-4 p-4">
      <div class="flex flex-wrap justify-between text-white">
        <div class="w-full sm:w-1/2 md:w-1/4 mb-2">
          <p class="font-semibold">Monthly Rent</p>
          <p>$1,640 - $5,860</p>
        </div>
        <div class="w-full sm:w-1/2 md:w-1/4 mb-2">
          <p class="font-semibold">Bedrooms</p>
          <p>Studio - 2 bd</p>
        </div>
        <div class="w-full sm:w-1/2 md:w-1/4 mb-2">
          <p class="font-semibold">Bathrooms</p>
          <p>1 - 2 ba</p>
        </div>
        <div class="w-full sm:w-1/2 md:w-1/4 mb-2">
          <p class="font-semibold">Square Feet</p>
          <p>471 - 1,101 sq ft</p>
        </div>
      </div>
    </div>

    <div class="info pt-5">
      <h2 class="font-semibold text-2xl">Pricing & Floor Plans</h2>
      <div class="tab">
        <div class="info pt-5 px-6 max-w-3xl mx-auto">
          <div class="tab">
            <app-tabs></app-tabs>

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="w-[50vh] h-80 bg-gray-300 shadow-lg rounded-lg p-6 ">
   <app-requestbox></app-requestbox>
  </div>
  
</section>