

<div class="features-container d-flex gap-3" *ngIf="facilities?.features">
  <!-- First Column -->
  <div class="features-wrapper pt-3">
    <ul class="features-list list-unstyled">
      <li *ngFor="let property of facilities.features.slice(0, 6)">
        {{ property || "Not Available" }}
      </li>
    </ul>
  </div>

  <!-- Second Column -->
  <div class="features-wrapper pt-3">
    <ul class="features-list list-unstyled">
      <li *ngFor="let property of facilities.features.slice(6, 12)">
        {{ property || "Not Available" }}
      </li>
    </ul>
  </div>

  <!-- Third Column -->
  <div class="features-wrapper pt-3">
    <ul class="features-list list-unstyled">
      <li *ngFor="let property of facilities.features.slice(12, 18)">
        {{ property || "Not Available" }}
      </li>
    </ul>
  </div>
</div>