
<div class="faq-accordion">
  <div *ngFor="let faqs of faqData; let i = index" class="faq-item" [class.open]="faqs.isOpen">
    <div *ngIf="faqs.isEnabled" class="faq-header" (click)="togglePanel(faqs)">
      <span class="faq-question">{{ faqs.question || "Not Available" }}</span>
      <div class="faq-icon-wrapper">
        <i class="fa-solid fa-chevron-down toggle-icon" [class.rotated]="faqs.isOpen"></i>
      </div>
    </div>

    <!-- Accordion Body -->
    <div class="faq-body" [class.open]="faqs.isOpen">
      <div class="faq-answer-content">
        {{ faqs.answer || "Not Available" }}
      </div>
    </div>
  </div>
</div>
