<div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4 w-[]">
  
      <div class="col w-[37vh]">
        <div class="card">
          <div class="card-img-top">
            <img src="assets/images/regents-park-chicago-il-diningliving-room.jpg" class="card-img-top" alt="">
          </div>
          <div class="card-body">
            <h4 class="card-title">1 Card title</h4>
            <p class="card-text text-center font-thin">    555 W Madison St,<br>
              Chicago, IL 60661</p>
              <p class="text-center pt-2 text-sm font-normal">
                Studio - 2 Beds | $1,640 - $5,860
              </p>
          </div>
        </div>
      </div>



    <!-- <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
        <div class="col" style="width: 37vh;">
          <div class="card">
            <div class="card-img-top">
              <img src="assets/images/regents-park-chicago-il-diningliving-room.jpg" class="card-img-top" alt="">
            </div>
            <div class="card-body">
              <h4 class="card-title">1 Card title</h4>
              <p class="card-text text-center font-thin">
                555 W Madison St,<br>
                Chicago, IL 60661
              </p>
              <p class="text-center pt-2 text-sm font-normal">
                Studio - 2 Beds | $1,640 - $5,860
              </p>
            </div>
          </div>
        </div>
      </div>
    </div> -->
    