<div class="relative">
  <div class="w-full h-[70vh] overflow-hidden">
    <app-image-carousel [data]="propertyFloorPlans"></app-image-carousel>
  </div>
</div>
<div class="bg-white text-light p-4 fixed inset-0 z-10 shadow-lg overflow-auto">
  <!-- Header Section -->
  <div class="flex justify-between items-center border-b pb-3">
    <div class="text-center w-full">
      <h1 class="fw-bold text-xl text-gray-800">{{propertyName}}</h1>
    </div>
    <div class="absolute right-4">
      <button type="button" class="btn btn-outline-secondary rounded-pill px-4" routerLink="/propertydetails/"
        (click)="backToPreviwsPage()">
        Close
      </button>
    </div>
  </div>

  <!-- Tabs Section -->
  <div class="tabs mt-4">
    <!-- Navigation Tabs -->
    <ul class="nav nav-tabs nav-justified mb-3" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <button
          class="nav-link active text-gray-800 fw-bold"
          id="photo-tab"
          data-bs-toggle="tab"
          data-bs-target="#photo"
          type="button"
          role="tab"
          aria-controls="photo"
          aria-selected="true"
        >
          Photos
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button
          class="nav-link text-gray-800 fw-bold"
          id="floor-tab"
          data-bs-toggle="tab"
          data-bs-target="#floor"
          type="button"
          role="tab"
          aria-controls="floor"
          aria-selected="false"
        >
          Floor Plan
        </button>
      </li>
    </ul>
  
    <!-- Tab Content -->
    <div class="tab-content bg-light rounded-lg shadow-sm p-3" id="myTabContent">
      <div class="tab-pane fade show active" id="photo" role="tabpanel" aria-labelledby="photo-tab">
        <div class="carousel-container">
          <app-image-carousel [data]="propertyPhotos" [imageStyle]="propertyPhotosStyle"></app-image-carousel>
        </div>
      </div>
      <div class="tab-pane fade" id="floor" role="tabpanel" aria-labelledby="floor-tab">
        <div class="carousel-container">
          <app-image-carousel [data]="propertyFloorPlans" [imageStyle]="propertyFloorPlansStyle"></app-image-carousel>
        </div>
      </div>
    </div>
  </div>
  

</div>