<div class="media-viewer-overlay">
  <!-- Immersive Header -->
  <div class="viewer-header">
    <div class="viewer-tabs" id="myTab" role="tablist">
      <button class="viewer-tab-btn active" id="photo-tab" data-bs-toggle="tab" data-bs-target="#photo" type="button" role="tab">
        <i class="fa-solid fa-camera"></i> Photos
      </button>
      <button class="viewer-tab-btn" id="floor-tab" data-bs-toggle="tab" data-bs-target="#floor" type="button" role="tab">
        <i class="fa-solid fa-layer-group"></i> Floor Plan
      </button>
      <button class="viewer-tab-btn" id="map-tab" data-bs-toggle="tab" data-bs-target="#map" type="button" role="tab">
        <i class="fa-solid fa-map-location-dot"></i> Map View
      </button>
    </div>

    <button type="button" class="btn-close-viewer" (click)="backToPreviwsPage()">
      <i class="fa-solid fa-xmark"></i> Close
    </button>
  </div>

  <!-- Content Space -->
  <div class="viewer-content">
    <div class="tab-content h-100" id="myTabContent">
      
      <!-- Photos Tab -->
      <div class="tab-pane fade show active h-100" id="photo" role="tabpanel">
        <div class="carousel-container-immersive">
          <ng-container *ngFor="let gallery of imgGallerys">
            <app-image-carousel *ngIf="gallery.type === 'Photos' || gallery.type === 'ImageGallery'" [data]="gallery" [imageStyle]="propertyImageCarouselStyle"></app-image-carousel>
          </ng-container>
        </div>
      </div>
      
      <!-- Floor Plan Tab -->
      <div class="tab-pane fade h-100" id="floor" role="tabpanel">
        <div class="carousel-container-immersive">
          <ng-container *ngFor="let gallery of imgGallerys">
            <app-image-carousel *ngIf="gallery.type === 'floorPlan'" [data]="gallery" [imageStyle]="propertyImageCarouselStyle"></app-image-carousel>
          </ng-container>
        </div>
      </div>
      
      <!-- Map Tab -->
      <div class="tab-pane fade h-100" id="map" role="tabpanel">
        <div class="map-container-immersive">
          <app-map [lat]="19.113191" [lng]="72.910321" [zoom]="14"></app-map> 
        </div>
      </div>
      
    </div>
  </div>
</div>