<div class="relative">
  <div class="w-full h-[70vh] overflow-hidden">
    <app-image-carousel [data]="propertymedias"></app-image-carousel>
  </div>
  <!-- property data -->
  
  <section class="w-full flex pl-12 text-gray-900 pt-5 gap-16">
    <div class="property-data w-[75vw] p-6 rounded-lg shadow-lg text-gray-800">
  
  
      <app-appartment-data [data]="product" [floorplandetails]="floorplandetails" [unitsData]="propertyunitsdatas"></app-appartment-data>
  
  
      <!--  about property -->
      <div class="about-property pt-5">
        <app-property-data-additional-info [additionalInfo]="AboutPropertyTowers"></app-property-data-additional-info>
  
        <app-property-data-facilities [propertyDetalisList]="UniqueFeaturesOfPropertys"></app-property-data-facilities>
  
        <app-property-data-additional-info [additionalInfo]="NeighborhoodDatas"></app-property-data-additional-info>
  
        <app-property-data-facilities [propertyDetalisList]="PropertyAmenities"></app-property-data-facilities>
  
        <app-property-data-facilities [propertyDetalisList]="ApartmentFeatures"></app-property-data-facilities>
  
        <app-property-school-card [schoolData]="propertySchoolDatas"></app-property-school-card>
      </div>
    </div>
  
  <app-contact-property [propertyContact]="contactpropertyboxs" [propertyHeading]="product"></app-contact-property>
  </section>
  
</div>