<div class="modal fade" id="sendMessage" tabindex="-1" aria-labelledby="fileModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header bg-light">
        <h5 class="modal-title fw-semibold text-dark" id="fileModalLabel">{{propertyInfo.propertyName}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="bg-light p-4 rounded shadow">
          <form action="" [formGroup]="sendMessage" (ngSubmit)="onSubmit()">
            <div class="row mb-3">
              <div class="col-md-6">
                <input  
                  type="text" 
                  placeholder="First name" 
                  class="form-control" 
                  formControlName="firstName" 
                />
                <small class="text-danger" *ngIf="sendMessage.controls['firstName'].touched && sendMessage.controls['firstName'].hasError('required')">
                  First name is required
                </small>
                <small class="text-danger" *ngIf="sendMessage.controls['firstName'].touched && sendMessage.controls['firstName'].hasError('maxlength')">
                  First name must be less than 20 characters
                </small>
              </div>
              <div class="col-md-6">
                <input 
                  type="text" 
                  placeholder="Last name" 
                  class="form-control" 
                  formControlName="lastName" 
                />
                <small class="text-danger" *ngIf="sendMessage.controls['lastName'].touched && sendMessage.controls['lastName'].hasError('required')">
                  Last name is required
                </small>
                <small class="text-danger" *ngIf="sendMessage.controls['lastName'].touched && sendMessage.controls['lastName'].hasError('maxlength')">
                  Last name must be less than 20 characters
                </small>
              </div>
            </div>
            <div class="mb-3">
              <input 
                type="email" 
                placeholder="Email Address" 
                class="form-control" 
                formControlName="email" 
              />
              <small class="text-danger" *ngIf="sendMessage.controls['email'].touched && sendMessage.controls['email'].hasError('required')">
                Email is required
              </small>
              <small class="text-danger" *ngIf="sendMessage.controls['email'].touched && sendMessage.controls['email'].hasError('email')">
                Please enter a valid email address
              </small>
            </div>
            <div class="row mb-3">
              <div class="col-md-6">
                <label class="form-label">Preferred date</label>
                <input 
                  type="date" 
                  class="form-control" 
                  formControlName="tourDate" 
                />
                <small class="text-danger" *ngIf="sendMessage.controls['tourDate'].touched && sendMessage.controls['tourDate'].hasError('required')">
                  Date is required
                </small>
              </div>
              <div class="col-md-6">
                <label class="form-label">Contact no</label>
                <input 
                  type="tel" 
                  id="phone" 
                  name="phone" 
                  class="form-control" 
                  required 
                  formControlName="phoneNumber" 
                />
                <small class="text-danger" *ngIf="sendMessage.controls['phoneNumber'].touched && sendMessage.controls['phoneNumber'].hasError('required')">
                  Phone number is required
                </small>
                <small class="text-danger" *ngIf="sendMessage.controls['phoneNumber'].touched && sendMessage.controls['phoneNumber'].hasError('pattern')">
                  Please enter a valid phone number
                </small>
              </div>
            </div>
            <div class="mb-3">
              <label class="form-label">Custom Message</label>
              <textarea class="form-control" formControlName="coustomMessage" ></textarea>
            </div>
            <div class="d-grid">
              <button 
                type="submit" 
                class="btn btn-primary" 
                [disabled]="sendMessage.invalid" 
                (click)="onSubmit();sendEmail();reset()">
                Send Message
              </button>
            </div>
            <div class="form-check mt-3">
              <input 
                type="checkbox" 
                class="form-check-input" 
                id="acceptTerms" 
                formControlName="acceptTerms" 
              />
              <label class="form-check-label" for="acceptTerms">
                Email me listings and apartments related info
              </label>
              <small class="text-danger" *ngIf="sendMessage.controls['acceptTerms'].touched && sendMessage.controls['acceptTerms'].hasError('required')">
                You must accept the terms and conditions
              </small>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
