
.container {
    max-width: 60vhx;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

#page-1{
    object-fit: cover;
    object-position: top center;
    padding: 40px;
    margin-bottom: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
    transform: translateZ(0);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
}

 h1 {
    text-align: center;
    color: #FFF;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-size: 5vh;

}
.center {
    display: flex;
    justify-content: center;
  }

  @media (max-width: 768px) {
    .container {
        padding: 10px;
    }

    header h1 {
        font-size: 2em;
    }

    section {
        padding: 30px;
    }
}







    