<header id="header" class="header d-flex align-items-center sticky-top">
  <div class="container position-relative d-flex align-items-center">

    <a routerLink="/" class="logo d-flex align-items-center me-auto">
      <h1 class="sitename">{{heading}}</h1><span>.</span>
    </a>

    <nav id="navmenu" class="navmenu">
      <ul>
        <li><a routerLink="/FindProperty">Find Property</a></li>
        <li><a routerLink="/addproperty">Add Property</a></li>
        <li><a routerLink="/dashboard">Dashboard</a></li>
        <li><a routerLink="/contactus">Contact Us</a></li>
    
        <!-- Show Sign Up and Log In only when the user is NOT logged in -->
        <li ><a routerLink="/signup">Sign Up</a></li>
        <li ><a routerLink="/login">Log In</a></li>
    
        <!-- Show Logout button only when the user is logged in -->
        <button  type="button" (click)="logout()">Logout</button>
      </ul>
    </nav>
    
  </div>
</header>