 <div class="row ">

  <div class="d-flex align-items-center">
    <div id="list-example" class="list-group d-flex flex-row">
      <a *ngFor="let item of listGroupData" 
         class="list-group-item list-group-item-action bg-black text-white border-0"  
         [ngClass]="{'active-item': activeItem === item.id}"  
         (click)="inview(item.id); onview(item.id)">
        {{ item.title }}
      </a>
    </div>
  </div>
  >
    
          <div class="col-8" #scrollContainer style="height: 300px; overflow:auto; ">
            <div data-bs-spy="scroll" data-bs-target="#list-example" data-bs-smooth-scroll="true" class="scrollspy-example" tabindex="0">
              <div *ngFor="let item of listGroupData" [attr.id]="item.id">
                <h4 class="text-white">{{ item.title }}</h4>
                <p class="text-white">{{ item.content }}</p>
              </div>
            </div>
          </div>
        </div>
