button {
  padding: 10px 15px;
  border: none;
  background: #C5BAFF;
  color: white;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  margin-top: 10px;
}

.nav-link.active {
  background-color: #C4D9FF;
}
.nav-link {
  transition: background-color 0.5s ease;
}


.container{
  background:#FBFBFB;
}
input{
  background:white;
  
  border: 2px ;
  outline-color: #A6B5AC;
  
}
textarea{
  background-color: white;
  
  border:2px;
  outline-color: #A6B5AC;
}
select{
  background-color: white;
  
  border: 2px;
  outline-color: #A6B5AC;
}
#remove{
  background:#EB212E;
}
#add:hover{
  color:black;

}
#submit{
  background:  #00B140;
  width: 300px;
  
}

#removelast{
  background:#EB212E ;
  height: 40px;
}