
<div class="accordion" id="accordionExample" *ngFor="let faqs of heading; let i = index">
    <div *ngIf="faqs.isEnabled === true" class="accordion-item">
        <h2 class="accordion-header" id="heading{{ i }}">
            <button class="accordion-button" [ngClass]="{ collapsed: !faqs.isOpen }" type="button"
                (click)="togglePanel(faqs)">
                {{ faqs.info }}
            </button>
        </h2>

        <!-- faqs data -->
        <div [ngClass]="{ collapse: !faqs.isOpen, show: faqs.isOpen }" class="accordion-collapse collapse">
            ff
        </div>
    </div>
</div>

<div class="accordion-body text-black" *ngFor="let data of appartmentDetalis">
    <div class="unitDetails active">
        <div class="rent-info-section"></div>

        <div class="unit-media-label text-lg font-semibold my-2">
            {{ data.title }}
        </div>
        <div class="grid grid-cols-2 gap-2">
            <!-- Photos Button -->
            <div class="unitViewBtn" *ngFor="let images of propertyPictures">
                <button data-unitnumber="04-1805" data-rentalkey="zyk68zy"
                    class="actionLinks js-priceGridModelViewFromUnitButtons bg-gray-100 text-gray-700 py-1 px-2 rounded-md hover:bg-gray-200 focus:outline-none flex items-center">
                    <i class="storyicon balconyStoryIcon mr-1"></i>{{ images.btnVal }}
                </button>
            </div>
        </div>

        <div class="amenities multiFamily unitDetail mt-4 flex"
            *ngFor="let info of propertyListData">
            <ul class="">
                <li>
                    <span class="topAmenity font-semibold">{{
                        info.title
                        }}</span>
                    <ul class="list-disc ml-4 mt-1 space-y-1" *ngFor="let info of info.links">
                        <li class="amenity">{{ info.name }}</li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="actionLinksContainer unitDetail cta-section mt-4">
            <button
                class="sendMessage js-sendMessage bg-blue-500 text-white py-1 px-2 rounded-md hover:bg-blue-600 focus:outline-none transition duration-300 ease-in-out"
                data-rentalkey="zyk68zy">
                Send Message
            </button>
        </div>
    </div>
</div>