<aside id="contactLead" class="relative h-full flex flex-col justify-between ">
    <h2 class="text-xl font-semibold mb-6 text-gray-800 text-center">Contact This Property</h2>

    <div class="space-y-4">
      <button class="bg-blue-500 text-white py-2 px-4 rounded-lg hover:bg-blue-600 w-full transition duration-300 ease-in-out" data-bs-toggle="modal" data-bs-target="#requestTour">
        Request Tour
      </button>
      <button class="bg-gray-500 text-white py-2 px-4 rounded-lg hover:bg-gray-600 w-full transition duration-300 ease-in-out" data-bs-toggle="modal" data-bs-target="#sendMessage">
        Send Message
      </button>

      <p class="flex justify-center items-center text-blue-600 hover:text-blue-800 transition duration-300 ease-in-out">
        <a href="tel:7087251991" class="flex items-center">
          <i class="storyicon comMobileStoryIcon mr-2" aria-hidden="true"></i>
          <span>(708) 725-1991</span>
        </a>
      </p>
    </div>
    <hr class="text-black">
    <div class="mt-6 space-y-2 ">
      <div>
        <p class="relative group text-blue-600 hover:text-blue-800 transition duration-300 ease-in-out cursor-pointer text-center ">
          View All Hour
        </p>

      </div>
    </div>
  </aside>
<app-request-tourform></app-request-tourform>
 <app-send-message></app-send-message>



  